.login-screen-title{
    text-align: left !important;
    padding-left: 1rem !important;
    font-size: 35px !important;
}
.login-screen-content{
    background-image: url("/img/ellipse-47.png") !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
}
.bg-page{
    background-image: url("/img/ellipse-47.png") !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
}

.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pl-3{
    padding-left: 3rem;
}

.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.circle-image{
    display: inline-block !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    width: 35px !important;
    height: 35px !important;
    border: solid 2px #ffeba3;
    box-shadow: 0px 0px 0px 2px #fe9f1f;
}
.circle-image img{
    width:100% !important;
    height:100% !important;
    object-fit: cover !important;
}
.md .navbar a.icon-only{
    width: 77px !important;
}
.bold{
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 30px !important;
}
#user-2{
    margin-top: -25px !important;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.text-muted-bold{
    color: #0000008a !important;
    font-weight: 600 !important;
    font-weight: bold !important;
}
.text-muted{
    color: #0000008a !important;
}
.bold{
    font-weight: bold !important;
}
.fitur {
    background: #fff;
    text-align: center;
    color: #000;
    /* border: 1px solid #ddd; */
    padding: 5px;
    font-size: 12px;
    margin-bottom: 16px;
}
.btn-height{
    height: 100% !important;
}
.small-btn{
    font-size: 10px;
    color: #0000008a;
}