<template>
  <div class="page">
    <div class="navbar" style="background: #9B59B6; color: white">
      <div class="navbar-inner">                 
        <div class="title sliding">Apps KOPMA UNWAHA</div>                 
        <div class="right">                     
          <a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>             
        </div>             
      </div>         
    </div>
    <div class="page-content">
      <div class="card card-expandable">
        <div class="card-content">
          <div class="bg-color-red" style="height: 300px">
            <div class="card-header text-color-white display-block">Framework7<br />
              <small style="opacity: 0.7">Build Mobile Apps</small>
            </div>
            <a href="#" class="link card-close card-opened-fade-in color-white"
            style="position: absolute; right: 15px; top: 15px">
            <i class="icon f7-icons">xmark_circle_fill</i>
          </a>
        </div>
        <div class="card-content-padding">
          <p>Framework7 - is a free and open source HTML mobile framework to develop hybrid mobile apps or web
            apps with iOS or Android (Material) native look and feel. It is also an indispensable prototyping apps
          tool to show working app prototype as soon as possible in case you need to.</p>
          <p>The main approach of the Framework7 is to give you an opportunity to create iOS and Android
            (Material) apps with HTML, CSS and JavaScript easily and clear. Framework7 is full of freedom. It
            doesn't limit your imagination or offer ways of any solutions somehow. Framework7 gives you freedom!
          </p>
          <p>Framework7 is not compatible with all platforms. It is focused only on iOS and Android (Material) to
          bring the best experience and simplicity.</p>
          <p>Framework7 is definitely for you if you decide to build iOS and Android hybrid app (Cordova or
          PhoneGap) or web app that looks like and feels as great native iOS or Android (Material) apps.</p>
        </div>
      </div>
    </div>
  </div>
</template>