<template>
  <div class="page no-navbar no-toolbar no-swipeback">
    <div class="page-content login-screen-content ">
      <div class="login-screen-title pt-5">Login</div>
      <p class="pl-1 text-muted">Selamat Datang di aplikasi Scanner koperasi</p>
      <form>
        <div class="list">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Username</div>
                <div class="item-input-wrap">
                  <input type="text" id="user" name="username" placeholder="Masukkan username" />
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input-wrap">
                  <input type="password" id="pass" name="password" placeholder="Masukkan password" />
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li style="padding: 0px 14px;">
              <a href="#" @click='login' class="button button-large button-fill color-orange">Masuk</a>
            </li>
          </ul>
          <!-- <div class="block-footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p><a href="#" class="link back">Close Login Screen</a></p>
          </div> -->
        </div>
      </form>
    </div>
  </div>
</template>
<script>
  return{
    on: {
  },
  methods: {
    login: function(){
      var user= $("#user").val();
      var pass= $("#pass").val();
      console.log(user)
      if (user == "" || pass == "") {
        app.dialog.alert("Username Atau Password kosong","Peringatan");
      } else {
        $.ajax({
            url: "http://localhost/koperasi-tugas-kuliah/keranjang-kasir",
            method: "POST",
            data: {
              username: user,
              password: pass
            },
            cache: "false",
            success: function(response){
              if (response.status == "success") {
                  localStorage.setItem("user", response.data.username);
                  localStorage.setItem("id", response.data.id);
                  reload();
              }else{
                  app.dialog.alert("Username Atau Password Salah","Peringatan");
              } 
            }
        })
      }
    }
  }
}
</script>