<template>  
	<div class="page">   
		<div class="navbar" style="background: #9B59B6; color: white">    
			<div class="navbar-inner">     
				<div class="title sliding">Modifikasi Data</div>     
				<div class="right">      
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>     
				</div>    
			</div>   
		</div>   
		<div class="page-content">    
			<div class="list">     
				<div class="list">
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Kode Kantor</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtkodee" placeholder="ex: 23" maxlength="5" readonly>
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Kota</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtkotae" placeholder="ex: Surabaya">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Telp</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txttelpe" placeholder="+6285641272332">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Alamat 1</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtalamat1e" placeholder="ex: Jl. Budi Utomo No. 33">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Alamat 2</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtalamat2e" placeholder="ex: Kepanjen">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Provinsi</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtprovinsie" placeholder="ex: East Java">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Negara</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtnegarae" placeholder="ex: Indonesia">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Kodepos</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtkodepose" placeholder="ex: 61453">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Region</div>
							<div class="item-input-wrap">
								<input type="text" class="frmupdate" id="txtregione" placeholder="ex: South East Asia">
							</div>
						</div>
					</div>
					<div class="block">      
						<p class="row">       
							<button type="button" class="col button button-fill" @click="updatedata">Update</button>       
							<button type="button" class="col button button-fill color-red" @click="deletedata">Hapus</button>
						</p>     
					</div>    
				</div>   
			</div>  
		</div> 
</template> 
<script>  
	return{   
		on: { 
 			pageInit: function(){  
 				var x = atob(sessionStorage.datapilih);
				var dt = x.split("|");
				$("#txtkodee").val(sessionStorage.kodepilih);
				$("#txtkotae").val(dt[0]);
				$("#txttelpe").val(dt[1]);
				$("#txtalamat1e").val(dt[2]);
				$("#txtalamat2e").val(dt[3]);
				$("#txtprovinsie").val(dt[4]);
				$("#txtnegarae").val(dt[5]);
				$("#txtkodepose").val(dt[6]);
				$("#txtregione").val(dt[7]);
 			} 
  		},   
  		methods: { 
 			updatedata: function(){  
 				var kode = $("#txtkodee").val();
				var kota = $("#txtkotae").val();
				var telp = $("#txttelpe").val();
				var alamat1 = $("#txtalamat1e").val();
				var alamat2 = $("#txtalamat2e").val();
				var provinsi = $("#txtprovinsie").val();
				var negara = $("#txtnegarae").val();
				var kodepos = $("#txtkodepose").val();
				var region = $("#txtregione").val();
				if(kode == "" || kota == "" || telp == "" || alamat1 == "" || provinsi == "" || negara == "" || kodepos == "" || region == ""){
					app.dialog.alert("Isian Ada yang Masih Kosong !","Gagal");
					return;
					}
				app.dialog.progress("Proses Update Data...");
				$.ajax({
					url: url,
					method: "POST",
					data: {fungsi: "update_kantor", kd: kode, kt: kota, tp: telp, alm1: alamat1, alm2: alamat2, prov: provinsi, neg: negara, kp: kodepos, reg: region},
					cache: "false",
					success: function(x){
						app.dialog.close();
						var dt = atob(x);
						if(dt == "1"){
							app.dialog.alert("Data Berhasil di Update","Berhasil",
								function(){
									datakantor();
									app.views.main.router.back();
								}
							);
						}else{
							app.dialog.alert("Data Gagal di Update, Periksa Isian Anda","Gagal");
						}
				},
				error: function(){
					app.dialog.close();
					app.dialog.alert("Masalah Jaringan Internet","Gagal");
				}
			})
 		},
 			deletedata: function(){  
 				var kode = $("#txtkodee").val();
				if(kode == ""){
					app.dialog.alert("Isian Kode yang Masih Kosong !","Gagal");
					return;
				}
				app.dialog.confirm("Anda Yakin Ingin Hapus Data ?","Info",
					function(){
						app.dialog.progress("Proses Delete Data...");
						$.ajax({
							url: url,
							method: "POST",
							data: {fungsi: "delete_kantor", kd: kode},
							cache: "false",
							success: function(x){
								app.dialog.close();
								var dt = atob(x);
								if(dt == "1"){
									app.dialog.alert("Data Berhasil di Hapus","Berhasil",
										function(){
											datakantor();
											app.views.main.router.back();
										}
									);
								}else{app.dialog.alert("Data Gagal di Hapus, Periksa Isian Anda","Gagal");}
							},
							error: function(){
								app.dialog.close();
								app.dialog.alert("Masalah Jaringan Internet","Gagal");
							}
						})
					}
				);
 			}
	 	}  
 	} 
</script>