<template>
	<div class="page">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back color-orange"><i class="icon icon-back"></i></a>
				</div>
				<div class="title sliding">Scan Ke Kasir</div>
			</div>
		</div>
		<div class="page-content">
			
		</div>
	</div>
</template>
<script>
	return {
		on: {
			pageInit: function () {
				cordova.plugins.barcodeScanner.scan(
					function (result) {
						var pus = "";
						var hasil = result.text;
						if (hasil != "") {
							cari(hasil);
						}else{
							app.dialog.alert("Masukkan QRCode/Barcode ke dalam kotak", "Info");
						}
					},
					function (error) {
						app.dialog.alert(error, "Scan Gagal");
					},
					{
						prompt: "Masukkan QRCode/Barcode ke dalam kotak",
						resultDisplayDuration: 500,
						formats: "all",
						disableSuccessBeep: false
					}
				);
			}
		},
		methods: {

		}
	}
</script>