<template>
	<div class="page">
		<div class="navbar" style="background: #9B59B6; color: white">
			<div class="navbar-inner">

				<div class="title sliding">Detai Produk</div>
				<div class="right">
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="card card-expandable">
				<div class="card-content" id="hasil">
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	return {
		on: {
			pageInit: function () {
				var harga = (sessionStorage.harga);
				var nama = (sessionStorage.nama);
				var kode = (sessionStorage.kode);
				var kandungan = (sessionStorage.kandungan);
				var foto = (sessionStorage.foto);
				var dt = `<div class="card demo-card-header-pic">
				<div style="background-image:url(https://belajarsaja.com/assets/gambar/`+foto+`);height: 285px;width:100%"
				class="card-header align-items-flex-end text-color-black">`+nama+`</div></div><a href="#" class="link card-close card-opened-fade-in color-white"
            style="position: absolute; right: 15px; top: 15px">
            <i class="icon f7-icons">xmark_circle_fill</i>
          </a></div>
				<div class="card-content-padding">
				<p>Rp. `+harga+`</p>
				<p>Kode :`+kode+`</p>
				<p>Kandungan :</p>
				<p>`+kandungan+`</p>
				</div>`;
				$("#hasil").html(dt);
			}
		},
		methods: {

		}
	}
</script>