<template>     
	<div class="page">         
		<div class="navbar" style="background: #9B59B6; color: white">
			<div class="navbar-inner">                 
				<div class="title sliding">Tambah Data Produk</div>                 
				<div class="right">                     
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>             
				</div>             
			</div>         
		</div>         
		<div class="page-content">          
			<div class="list">
				<div class="item-content item-input">
					<div class="item-inner"id="inputkode">
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Nama Produk</div>
						<div class="item-input-wrap">
							<input type="text" class="frmtambah" id="nama" placeholder="ex: beng-Beng">
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Harga</div>
						<div class="item-input-wrap">
							<input type="number" class="frmtambah" id="harga" placeholder="5000">
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Kandungan</div>
						<div class="item-input-wrap">
							<textarea type="text" class="frmtambah" id="kandungan" placeholder="Kandungan Produk"></textarea>
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Kategori</div>
						<div class="item-input-wrap">
							<input type="text" class="frmtambah" id="kategori" placeholder="ex: Makanan">
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">foto</div>
						<div class="item-input-wrap">
							<div class="leftTable"><img src="img/addMedia.png" style="width:45px; height:45px" onClick="getImage(1);"><img src="img/gallery.png" style="width:40px; height:30px" onClick="getImage(2);"></div><div class="rightTable"></div>
						</div>
					</div>
				</div>
				<div style="margin:20px">
					<img style="display:none;width:250px;height:250px;" id="smallImage" src="">
				</div>
				<div class="rightTable"></div>
				<div class="block">
					<p class="row">
						<button type="button" class="col-70 button button-fill color-green" @click="savedata">Simpan</button>
						<button type="button" class="col-30 button button-fill color-red" onclick="$('.frmtambah').val('')">Reset</button>
					</p>
				</div>
			</div> 
		</div>     
	</div> 
</template> 
<script>     
	return{         
		on: {                      
			pageInit: function () {
				var kode = (sessionStorage.id_produk);
				var html =`<div class="item-title item-label">Kode</div>
						<div class="item-input-wrap">
							<input type="text" class="frmtambah" id="kode" value="`+kode+`" readonly>
						</div>`;
				$("#inputkode").html(html);

			}
		},         
		methods: {                      
			savedata: function(){
				var kode = $("#kode").val();
				var nama = $("#nama").val();
				var harga = $("#harga").val();
				var kandungan = $("#kandungan").val();
				var kategori = $("#kategori").val();
				if(kode == "" || nama == "" || harga == "" || kandungan == "" || kategori == ""){
					app.dialog.alert("Isian Ada yang Masih Kosong !","Gagal");
					return;
				}
				app.dialog.progress("Proses Tambah Data...");
				jQuery.getJSON("https://belajarsaja.com/api", {fungsi: 'tambah', kode: kode, nama: nama, harga: harga, kandungan: kandungan, nama_kategori: kategori}, function(result){
					app.dialog.close();
					if (result.status == true) {
						upload_image(result.id);
					}else{
						app.dialog.alert("Data Gagal Di Tambah","Danger");
					}
				})
			}
		}     
	} 
</script>